# MongoDB
MONGODB_URI="mongodb+srv://USER:PASS@cluster0.xxxxx.mongodb.net/girayoloji?retryWrites=true&w=majority"

# NextAuth
NEXTAUTH_SECRET="girayoloji-gizli-anahtar-2026"
NEXTAUTH_URL="http://localhost:3000"

# Cloudinary (resim ve kısa video yükleme için)
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=""

# Admin email
ADMIN_EMAIL="giray@girayoloji.com"
